/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}

.jmeno {
    font-family: Montserrat;
    color: white;
    font-size: xx-large;
}

.obsah {
    font-family: Source Sans Pro;
    color: rgb(174, 169, 169);
}

.odkazy li{
    text-transform: uppercase;
    font-family: Montserrat;
    display: inline-block;
}

.profil, .foto {
    width: 250px;
    background-color: #31363b;
}

.profil {
    box-shadow: 2px 4px 10px 2px #31363b;
}


.logo {
    background-color: #b92e81;
    border-radius: 50%;
    box-shadow: 2px 4px 10px 4px #31363b;
    
    position: absolute;
left: 180px;
top: 150px;
}
